accelerate==0.29.2
datasets==2.18.0
deepspeed==0.15.4
einops==0.8.2
huggingface-hub==0.23.2
numpy==1.26.4
packaging>=24.0
pandas==2.2.2
peft==0.7.1
pyarrow>=15.0.0
PyYAML>=6.0.1
safetensors>=0.4.3
scipy==1.13.1
sentencepiece>=0.2.0
tokenizers==0.21.4
tqdm>=4.66.0
transformers==4.53.3
trl==0.9.6
wandb>=0.17.0
pytest>=8.0.0
matplotlib>=3.8.0
